<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mhealth.Options"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mhealth.Login"
            android:label="@string/title_activity_options" >
            <intent-filter>
                <action android:name="org.example.MHealth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mhealth.Get_Patient_information"
            android:label="@string/title_activity_get_query" >
        </activity>
        <activity
            android:name="com.example.mhealth.Create_Patient"
            android:label="@string/title_activity_post_query" >
        </activity>
        <activity
            android:name="com.example.mhealth.GetInput"
            android:label="@string/title_activity_get_input" >
        </activity>
        <activity
            android:name="com.example.mhealth.NetworkUtil"
            android:label="@string/title_activity_get_input" >
        </activity>
        <activity
            android:name="com.example.mhealth.Sensor_Reading_Manually"
            android:label="@string/title_activity_sensor_concept" >
        </activity>

        <receiver android:name="com.example.mhealth.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="MyBroadcast" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.mhealth.RegisterBroadcastReceiver" >
            <intent-filter>
                <action android:name="RegisterBroadcast" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.mhealth.MyBroadcastReceiver2" >
            <intent-filter>
                <action android:name="MyBroadcast2" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.mhealth.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.mhealth.CreateSensor"
            android:label="@string/title_activity_create_sensor" >
        </activity>
        <activity
            android:name="com.example.mhealth.Create_Sensor_Automatically"
            android:label="@string/title_activity_create__sensor" >
        </activity>
        <activity
            android:name="com.example.mhealth.Create_Sensor_Manually"
            android:label="@string/title_activity_create_" >
        </activity>
        <activity
            android:name="com.example.mhealth.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.example.mhealth.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.example.mhealth.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mhealth.ItemListActivity" />
        </activity>
        <activity
            android:name="com.example.mhealth.SyncActivity"
            android:label="@string/title_activity_sync" >
        </activity>
        <activity
            android:name="com.example.mhealth.ShowDbData"
            android:label="@string/title_activity_show_db_data"
            android:parentActivityName="com.example.mhealth.SyncActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mhealth.SyncActivity" />
        </activity>
        <activity
            android:name="com.example.mhealth.Sensor_Listing"
            android:label="@string/title_activity_sensor_reading" >
        </activity>
        <activity
            android:name="com.example.mhealth.Sensor_Reading_Automatically"
            android:label="@string/title_activity_sensor_concept_auto" >
        </activity>
        <activity
            android:name="com.example.mhealth.Create_Sensor_Manually2"
            android:label="@string/title_activity_create__activity2" >
        </activity>
        <activity
            android:name="com.example.mhealth.Sensor_Reading_Manually2"
            android:label="@string/title_activity_sensorconcept2" >
        </activity>
    </application>

</manifest>
